# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "628af4c629d9ba8e470480aef372afc1"
name = "general-app-tools-sas"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_files,read_online_store_pages,read_themes,unauthenticated_read_content,write_content,write_files,write_online_store_pages,write_products,write_themes"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
